<table id="all-table">
  <thead>
    <tr>
      <th>Events</th>
      <th>Date</th>
      <th>Difference</th>
      <th># of Fridays</th>
    </tr>
  </thead>
  <tbody class="hover zebra">
    <tr>
      <td class="bolder">Today</td>
      <td><%= @today.strftime('%a, %b %d, %Y') %></td>
      <td>0</td>
      <td>-</td>
    </tr>
    <% @dates.each do |date| %>
      <tr>
        <td class="bolder"><%= date[:event] %></td>
        <td><%= date[:date].strftime('%a, %b %d, %Y') %></td>
        <% if @today > date[:date] %>
          <td><%= day_difference_to_words((@today - date[:date]).to_i) %></td>
        <% else %>
          <td><%= day_difference_to_words((date[:date] - @today).to_i) %></td>
        <% end %>
        <td><%= count_fridays(@today, date[:date]) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
