
    
    <% if @date.nil? %>
      <h1>Difference between today and ____ </h1>
      <h2>Please enter a date</h2><br>
      <% else %>
        <h2>Difference between <%= @today.strftime('%a, %b %d, %Y') %> and <%= @date.strftime('%a, %b %d, %Y') %></h2><br>
    <% end %>

    <table class="full-width">
      <tbody class="zebra">
        <tr>
          <th>Items</th>
          <th>Date</th>
        </tr>
        <tr>
          <td>Today</td>
          <td><%= @today.strftime('%a, %b %d, %Y') unless @today.nil? %></td>
        </tr>
        <tr>
          <td>Date</td>
          <td><%= @date.strftime('%a, %b %d, %Y') unless @date.nil? %></td>
        </tr>
        <tr>
          <td>Day Difference</td>
          <td><strong><%= @diff.to_s %></strong></td>
        </tr>
        <tr>
          <td>Relative Difference</td>
          <td><strong><%= @words %></strong></td>
        </tr>
        <tr>
          <td>Amount</td>
          <td><strong>$ <%= @amount %></strong></td>
        </tr>
        <tr>
          <td>Savings</td>
          <td><strong>$ <%= @savings %></strong></td>
        </tr>
        <tr>
          <td>Left</td>
          <td><strong>$ <%= @left_over %></strong></td>
        </tr>
      </tbody>
    </table>

<div class="row">

    <%= erb :formpartial %>

  <div class="col-md-5 col-md-push-4 col-xs-12">
      <h3>Pick a date</h3>
        <button class="bg-grey l"><a href="/date/7/21/2015">Cabo</a></button>
        <button class="bg-light-green l"><a href="/date/9/4/2015">Wisconsin</a></button>
        <button class="bg-grey l"><a href="/date/7/4/<%= Date.today.year %>">July 4th</a></button>
        <button class="bg-blue l"><a href="/date/10/7/<%= Date.today.year %>">October 7th</a></button>
        <button class="bg-purple l"><a href="/date/10/13/<%= Date.today.year %>">October 13th</a></button>
        <button class="bg-brown l"><a href="/date/11/26/<%= Date.today.year %>">Thanksgiving</a></button>
        <button class="bg-orange l"><a href="/date/10/31/<%= Date.today.year %>">Halloween</a></button>
        <button class="bg-red l"><a href="/date/12/25/<%= Date.today.year %>">Christmas</a></button>
        <button class="bg-pink l"><a href="/date/6/10/2015">Got Pip</a></button>
        <button class="bg-green l"><a href="/date/8/13/2015">Packers First Preseason</a></button>
        <button class="bg-indigo l"><a href="/date/9/10/2015">NFL First Game</a></button>
        <button class="bg-amber l"><a href="/date/2/7/2016">Super Bowl</a></button>
        <button class="bg-deep-purple l"><a href="/date/8/5/2016">Summer Olympics Brazil</a></button><br><br>
      <h3>Historic</h3>
        <button class="bg-blue-grey l"><a href="/date/3/7/2015">March 7th, 2015</a></button>
        <button class="bg-blue-grey l"><a href="/date/1/1/2000">January 1, 2000</a></button>
        <button class="bg-blue-grey l"><a href="/date/1/1/2020">January 1, 2020</a></button>
        <button class="bg-blue-grey l"><a href="/date/9/2/1945">End of WWII</a></button>
  </div>
</div>
    
