

    <% if @date.nil? %>
      <h1>Difference between today and ____ </h1>
      <h2>Please enter a date</h2><br>
      <% else %>
        <h2>Difference between <%= @today.strftime('%a, %b %d, %Y') %> and <%= @date.strftime('%a, %b %d, %Y') %></h2><br>
    <% end %>

    <table class="full-width">
      <thead>
        <tr>
          <th>Items</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody class="zebra hover">
        <tr>
          <td>Today</td>
          <td><%= @today.strftime('%a, %b %d, %Y') unless @today.nil? %></td>
        </tr>
        <tr>
          <td>Selected Date</td>
          <td><%= @date.strftime('%a, %b %d, %Y') unless @date.nil? %></td>
        </tr>
        <tr>
          <td>Day Difference</td>
          <td><strong><%= @diff.to_s %></strong></td>
        </tr>
        <tr>
          <td>Relative Difference</td>
          <td><strong><%= @words %></strong></td>
        </tr>
        <!-- <tr>
          <td>Amount</td>
          <td>$ <%= @amount %></td>
        </tr> -->
        <!-- <tr>
          <td>Savings</td>
          <td>$ <%= @savings %></td>
        </tr>
        <tr>
          <td>Left Over</td>
          <td>$ <%= @left_over %></td>
        </tr> -->
        <!-- <tr>
          <td>Number of Fridays</td>
          <td><%= @fridays %></td>
        </tr> -->
      </tbody>
    </table>

<div class="row">

    <%= erb :formpartial %>

  <div class="col-md-9 col-md-push-1 col-xs-12">
      <h3>Pick a date</h3>
        <button class="bg-purple l"><a href="/date/10/12/<%= Date.today.year %>">Hassan BDay</a></button>
        <button class="bg-purple l"><a href="/date/10/13/<%= Date.today.year %>">Kendall Bday</a></button>
        <button class="bg-pink l"><a href="/date/10/23/2015">Jake Wedding</a></button>
        <button class="bg-red l"><a href="/date/10/29/2015">Next Red Cross</a></button>
        <button class="bg-orange l"><a href="/date/10/31/<%= Date.today.year %>">Halloween</a></button>
        <button class="bg-brown l"><a href="/date/11/26/2015">Thanksgiving</a></button>
        <button class="bg-purple l"><a href="/date/11/29/2015">Becca's Bday</a></button>
        <button class="bg-red l"><a href="/date/12/25/<%= Date.today.year %>">Christmas</a></button>
        <button class="bg-blue l"><a href="/date/1/1/<%= Date.today.year + 1 %>">New Years</a></button>
        <button class="bg-amber l"><a href="/date/2/7/2016">Super Bowl</a></button>
        <button class="bg-blue l"><a href="/date/3/18/2016">Matt's Match Day</a></button>
        <button class="bg-pink l"><a href="/date/4/16/2016">M&B Wedding</a></button>
        <button class="bg-pink l"><a href="/date/6/18/2016">Randy Wedding</a></button>
        <button class="bg-deep-purple l"><a href="/date/8/5/2016">Summer Olympics Brazil</a></button><br><br>
      <h3>Past</h3>
        <button class="bg-blue l"><a href="/date/3/5/2015">March 5th, 2015</a></button>
        <button class="bg-pink l"><a href="/date/6/10/2015">Got Pip</a></button>
        <button class="bg-deep-purple l"><a href="/date/7/4/2015">July 4th</a></button>
        <button class="bg-pink l"><a href="/date/7/11/2015">Engagement</a></button>
        <button class="bg-teal l"><a href="/date/7/21/2015">Cabo</a></button>
        <button class="bg-green l"><a href="/date/8/13/2015">Packers First Preseason</a></button>
        <button class="bg-teal l"><a href="/date/8/15/2015">Parents Cabo</a></button>
        <button class="bg-red l"><a href="/date/9/3/2015">Red Cross</a></button>
        <button class="bg-blue l"><a href="/date/9/3/2015">UofA First Game</a></button>
        <button class="bg-light-green l"><a href="/date/9/4/2015">Wisconsin</a></button>
        <button class="bg-indigo l"><a href="/date/9/10/2015">NFL First Game</a></button>
        <button class="bg-amber l"><a href="/date/9/11/2015">Work Retreat</a></button>
        <button class="bg-purple l"><a href="/date/9/25/2015">Matt's Bday</a></button>
        <button class="bg-grey l"><a href="/date/10/3/2015">Oil Change</a></button>
        <button class="bg-blue l"><a href="/date/10/7/<%= Date.today.year %>">October 7th</a></button>
      <h3>Historic</h3>
        <button class="bg-blue-grey l"><a href="/date/1/26/1997">SuperBowl XXXI, 1997</a></button>
        <button class="bg-blue-grey l"><a href="/date/2/6/2011">SuperBowl XLV, 2011</a></button>
        <button class="bg-blue-grey l"><a href="/date/1/1/2000">January 1, 2000</a></button>
        <button class="bg-blue-grey l"><a href="/date/1/1/2020">January 1, 2020</a></button>
        <button class="bg-blue-grey l"><a href="/date/9/2/1945">End of WWII</a></button>
  </div>
</div>
