
    
    <% if @date.nil? %>
      <h1>Find the number of days difference between dates</h1>
      <h2>Please enter a date</h2><br>
      <% else %>
        <h2>Difference between <%= @today.strftime('%B %d, %Y') %> and <%= @date.strftime('%B %d, %Y') %></h2><br>
    <% end %>

    <table class="full-width">
      <tbody class="zebra">
        <tr>
          <th>Label</th>
          <th>Date</th>
        </tr>
        <tr>
          <td>Today</td>
          <td><%= @today.strftime('%B %d, %Y') unless @today.nil? %></td>
        </tr>
        <tr>
          <td>Date</td>
          <td><%= @date.strftime('%B %d, %Y') unless @date.nil? %></td>
        </tr>
        <tr>
          <td>Day Difference</td>
          <td><%= @diff.to_s %></td>
        </tr>
      </tbody>
    </table>

<div class="row">

    <%= erb :formpartial %>

  <div class="col-md-5 col-md-push-4 col-xs-12">
      <h3>Pick a Famous date</h3>
        <button class="bg-blue-grey l"><a href="/date/9/2/1945">End of WWII</a></button>
        <button class="bg-blue-grey l"><a href="/date/1/1/1900">Turn of the 20th Century</a></button>
        <button class="bg-blue-grey l"><a href="/date/3/7/2015">March 7th, 2015</a></button>
        <button class="bg-blue-grey l"><a href="/date/3/4/1936">First Hindenberg Flight</a></button>
        <button class="bg-blue-grey l"><a href="/date/6/4/1776">July 4th 1776</a></button>
        <button class="bg-blue-grey l"><a href="/date/1/1/2000">January 1, 2000</a></button>
        <button class="bg-blue-grey l"><a href="/date/1/1/2010">January 1, 2010</a></button>
        <button class="bg-blue-grey l"><a href="/date/1/1/2020">January 1, 2020</a></button><br><br>
  </div>
</div>
    
      <%= erb :instruction %>