  <%= erb :navpartial %>

    <h1>Find the number of days difference between dates</h1><br>
    <table class="table table-bordered">
      <tr>
        <th>Label</th>
        <th>Date</th>
      </tr>
      <tr>
        <td>Today</td>
        <td><%= @today.strftime('%B %d, %Y') unless @today.nil? %></td>
      </tr>
      <tr>
        <td>Date</td>
        <td><%= @date.strftime('%B %d, %Y') unless @date.nil? %></td>
      </tr>
      <tr>
        <td>Day Difference</td>
        <td><%= @diff.to_s %></td>
      </tr>
    </table>

    <%= erb :formpartial %>

    <h3>Pick a pre-determined date</h3>
      <a href="/date/9/2/1945" class="btn btn-default btn-lg">End of WWII</a>
      <a href="/date/1/1/1900" class="btn btn-default btn-lg">Turn of the 20th Century</a>
      <a href="/date/1/1/2000" class="btn btn-default btn-lg">Y2K</a>
      <a href="/date/6/4/1776" class="btn btn-default btn-lg">July 4th 1776</a>
      <a href="/date/1/1/2020" class="btn btn-default btn-lg">January 1, 2020</a>
      <a href="/date/1/16/1962" class="btn btn-default btn-lg">Random Day</a><br><br>
    
      <%= erb :instruction %>

  </div> <!-- end of the container div -->

    <%= erb :footerpartial %>
  </body>
</html>