
      <h1>What date was <%= @num_days || "___" %> days ago...?</h1><br>
        <table class="full-width">
          <tbody class="zebra">
            <tr>
              <th>Label</th>
              <th>Date</th>
            </tr>
            <tr>
              <td>Today</td>
              <td><%= @today.strftime('%B %d, %Y') unless @today.nil? %></td>
            </tr>
            <tr>
              <td>Number of Days</td>
              <td><%= @num_days.to_s %></td>
            </tr>
            <tr>
              <td>Date</td>
              <td><%= @date.strftime('%B %d, %Y') unless @date.nil? %></td>
            </tr>
          </tbody>
        </table>

  <div class="row">
    <div class="col-xs-12 col-md-4">
      <form action="/days" method="post">
        <div class="row">
          <div class="col-xs-9 col-sm-6 col-md-8">
            <label for"daysago">Days Ago: </label>
            <input type="number" name="daysago" class="form-control" placeholder="1450" autofocus='true'>
          </div>
        </div>
        <button type="submit" class="bg-blue">Calculate!</button>
      </form>
    </div>
    <div class="col-xs-12 col-md-4">
      <h3>Days in the Past</h3>
        <button class="bg-orange l"><a href="/days/7">7 days</a></button>
        <button class="bg-orange l"><a href="/days/30">30 days</a></button>
        <button class="bg-orange l"><a href="/days/50">50 days</a></button>
        <button class="bg-orange l"><a href="/days/60">60 days</a></button>
        <button class="bg-orange l"><a href="/days/100">100 days</a></button>
        <button class="bg-orange l"><a href="/days/120">120 days</a></button>
        <button class="bg-orange l"><a href="/days/200">200 days</a></button>
        <button class="bg-orange l"><a href="/days/300">300 days</a></button><br><br>
    </div>
    <div class="col-xs-12 col-md-4">
      <h3>Days in future</h3>
        <button class="bg-orange l"><a href="/days/-7">7 days</a></button>
        <button class="bg-orange l"><a href="/days/-30">30 days</a></button>
        <button class="bg-orange l"><a href="/days/-50">50 days</a></button>
        <button class="bg-orange l"><a href="/days/-60">60 days</a></button>
        <button class="bg-orange l"><a href="/days/-100">100 days</a></button>
        <button class="bg-orange l"><a href="/days/-120">120 days</a></button>
        <button class="bg-orange l"><a href="/days/-200">200 days</a></button>
        <button class="bg-orange l"><a href="/days/-300">300 days</a></button><br><br>
    </div>
  </div>
  <%= erb :instruction %>
