<%= erb :navpartial %>

      <h1>What date was ___ Days ago...?</h1><br>
      <div class="table-responsive">
        <table class="table table-bordered">
          <tr>
            <th>Label</th>
            <th>Date</th>
          </tr>
          <tr>
            <td>Today</td>
            <td><%= @today.strftime('%b %d %Y') unless @today.nil? %></td>
          </tr>
          <tr>
            <td>Number of Days</td>
            <td><%= @num_days.to_s %></td>
          </tr>
          <tr>
            <td>Date</td>
            <td><%= @date.strftime('%b %d %Y') unless @date.nil? %></td>
          </tr>
        </table>
      </div>

      <form action="/days" method="post">
        <div class="row">
          <div class="col-xs-2">
            <label for"daysago">Days Ago: </label>
            <input type="text" name="daysago" class="form-control" placeholder="1450" autofocus='true'>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Calculate!</button>
      </form>

      <h3>Some quick links</h3>
        <a href="/days/7" class="btn btn-default btn-lg">7 days</a>
        <a href="/days/50" class="btn btn-default btn-lg">50 days</a>
        <a href="/days/100" class="btn btn-default btn-lg">100 days</a>
        <a href="/days/500" class="btn btn-default btn-lg">500 days</a>
        <a href="/days/1000" class="btn btn-default btn-lg">1,000 days</a>
        <a href="/days/10000" class="btn btn-default btn-lg">10,000 days</a>
        <a href="/days/20000" class="btn btn-default btn-lg">20,000 days</a><br><br>
      <%= erb :instruction %>

  </div> <!-- end of the container div -->
    <%= erb :footerpartial %>

  </body>
</html>
