<table id="record">
  <% wins = 0 %>
  <% losses = 0 %>
  <% games = 0 %>
  <thead>
    <tr>
      <th>Games</th>
      <th>Wins</th>
      <th>Losses</th>
      <th>Percent</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <% @games.each{|game| if game.has_key?(:win) then games += 1 end} %>
        <% @games.each{|game| if game[:win] == true then wins += 1 end} %>
        <% @games.each{|game| if game[:win] == false then losses += 1 end} %>
        <td><%= games %></td>
        <td><%= wins %></td>
        <td><%= losses %></td>
        <td><%= wins / (wins + losses).to_f %></td>
    </tr>
  </tbody>
</table>
<table id="all-table">
  <thead>
    <tr>
      <th>Opponent</th>
      <th>Date</th>
      <th>Relative</th>
      <th>Location</th>
      <th>Result</th>
    </tr>
  </thead>
  <tbody>
    <% @games.each do |game| %>
      <tr class= <%= row_color(game[:location]) %> >
        <td><%= game[:opponent].titleize %></td>
        <td><%= game[:date].strftime('%a, %b %d') %></td>
        <% if @today > game[:date] %>
          <td><%= day_difference_to_words((@today - game[:date]).to_i) + " ago" %></td>
        <% else %>
          <td><%= day_difference_to_words((game[:date] - @today).to_i) %></td>
        <% end %>
        <td> <%= game[:location].to_s.titleize %> </td>
        <td><%= game[:result] ? game[:result] : "-" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
